

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/news.list/detail_list/style.css?1445340066108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/news.list/detail_list/style.css?1445340066108 */
