

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/main.feedback/feedback-sections/style.css?1445340066487*/
div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:80%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}

.worktime .block strong,
.contacts .block strong{
	display: block;
	float: left;
margin-right: 10px;
margin-bottom: 5px;
}

ul.contacts,
ul.worktime{padding:0;}
li.block {
margin-bottom: 5px;
}
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/main.feedback/feedback-sections/style.css?1445340066487 */
