

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.section/purchase/style.css?14453400663104*/
.mask-map {
display: block;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
transition: all 0.5s ease;
}

.mask-map:hover {
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
filter: none;
transition: all 0.5s ease;
}

button, input, optgroup, select, textarea {
	line-height: normal !important;
}

ul.contacts,
ul.worktime{
	padding-left:0;
}
ul.contacts div,
ul.worktime div{
	display:inline;
}



.close:hover, .close:focus {
	color: #ed5434 !important;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.descbuy p {
	margin: 0;
	color: #2E363F;
	font-weight: 300;
	margin-top: 3px;
}
.descbuy i{
	width: 14px;
	margin-right: 5px;
	text-align: center;
}

.noimage{
	/*background-image: url('/bitrix/templates/apsel_catalog/assets/images/1x1.png');*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
	height: 230px;
	position: relative;
}

.map-prev{
	position: absolute;
	left: 50%;
	margin-left: -325px;
}

.noimage i.fa {
/* color: #fff; */
	padding: 0;
	font-size: 17px;
	text-align: center;
	font-size: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -25px;
}

/*******************************/

.delivery_block{
width: 270px;
/*padding: 0 0 24px 0;*/
color: #8c8c8c;
font-size: 14px;
}

.delivery_block .isotope-filter{
-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.2);
box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.2);
}
.delivery_list {
padding: 3px 6px 0 6px;
height: 38px;
cursor: pointer;
border-radius: 4px;
margin: 0 0 15px 0;
color: #ed4226;
border: 1px solid #efefef;
width: 291px;
z-index: 11;
background: #fff;
}
.delivery_list #btn {
/*background: url(/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.section/purchase/dropdown.png);*/
width: 16px;
height: 16px;
float: right;
text-align: center;
font-size: 20px;

margin: 4px 4px 0 0;
}
.delivery_list span {
padding: 2px 0 0 2px;
display: block;
font-weight: bold;
}
.delivery_block ul.isotope-filter {
margin-top: 0px;
z-index: 10;
background: #fcfcfc;
position: absolute;
border-radius: 3px;
width: 290px;
padding: 0;
border: 1px solid #eee;
display: none;
}
ul.isotope-filter li {
/*padding: 6px 9px;*/
list-style-type: none;
/*border-top: 1px solid #efefef;*/
}

ul.isotope-filter li:nth-child(1) {
border-top: none;
}

ul.isotope-filter li:hover {
cursor: pointer;
background: #fff;
}
.delivery_block .delivery_text {
padding: 3px 5px;
margin: 5px 0 0 3px;
}

.delivery_block > ul > li > a {
display: block;
padding: 6px 9px;
background: transparent !important;
}
.delivery_block > ul > li.active > a{
background: transparent !important;
}

.delivery_block > ul > li > a:hover {
text-decoration: none;
}

.item-box .item-hover{
z-index:1;
}
.white-row {
padding: 20px;
margin-bottom: 20px;
background-color: #FFF;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

img.map-prev {
max-width: none;
}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744*/
div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.section/purchase/style.css?14453400663104 */
/* /bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744 */
