

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/news/news-sections/bitrix/news.detail/.default/style.css?1445340066192*/
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.fancybox-image{
	border-radius:4px;
}
.share-dialog {
	z-index: 10 !important;
}
/* End */


/* Start:/bitrix/components/bitrix/main.share/templates/.default/style.min.css?14453402081293*/
a.share-switch{display:block;width:20px;height:20px;background:scroll transparent url('../../../../../components/bitrix/main.share/templates/.default/images/share.gif') center center no-repeat}.share-window-parent{position:relative}table.bookmarks-table{padding:0;height:19px;// height:18px}.share-dialog{z-index:1000;position:absolute;top:0}.share-dialog-left{left:18px}.share-dialog-right{right:18px}.share-dialog-inner-left{background:scroll transparent url('../../../../../components/bitrix/main.share/templates/.default/images/background.gif') right center no-repeat;padding:0 1px 1px 4px;// padding:1px 1px 1px 4px}.share-dialog-inner-right{background:scroll transparent url('../../../../../components/bitrix/main.share/templates/.default/images/background-right.gif') left center no-repeat;padding:0 4px 1px 1px;// padding:1px 4px 1px 1px}td.bookmarks{padding-left:2px!important;padding-right:2px!important;padding-top:1px!important;padding-bottom:0!important;border:none!important}.bookmarks a{background:none no-repeat scroll center center transparent;display:block;width:16px;height:16px;overflow:hidden}.bookmarks a.vk{background-image:url('../../../../../components/bitrix/main.share/templates/.default/images/vk.gif')}.bookmarks a.facebook{background-image:url('../../../../../components/bitrix/main.share/templates/.default/images/facebook.gif')}.bookmarks a.twitter{background-image:url('../../../../../components/bitrix/main.share/templates/.default/images/twitter.gif')}.bookmarks a.delicious{background-image:url('../../../../../components/bitrix/main.share/templates/.default/images/delicious.gif')}.bookmarks a.lj{background-image:url('../../../../../components/bitrix/main.share/templates/.default/images/lj.gif')}.bookmarks a.mailru{background-image:url('../../../../../components/bitrix/main.share/templates/.default/images/mailru.gif')}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/news.list/detail_list/style.css?1445340066108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/news/news-sections/bitrix/news.detail/.default/style.css?1445340066192 */
/* /bitrix/components/bitrix/main.share/templates/.default/style.min.css?14453402081293 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/news.list/detail_list/style.css?1445340066108 */
