

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/services/style.css?1445340066697*/
.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 66%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	padding-left: 5%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){
	.grid2x1 .bx_sidebar{
		padding-left: 4%;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/services/bitrix/catalog.element/.default/style.css?1445340066120*/
.portfolio-item .portfolio-item-title p{
text-align: center !important;
}
.portfolio-item-title p a {
font-size: 11px;
}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.top/project/section/style.css?144534006649*/
.sidebar .portfolio-item {
margin-bottom: 20px;
}
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/services/style.css?1445340066697 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/services/bitrix/catalog.element/.default/style.css?1445340066120 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.top/project/section/style.css?144534006649 */
