

/* Start:/bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744*/
div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/news/news-sections/bitrix/news.list/.default/style.css?1445340066220*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.blog-small.posts-block hr{margin:0 0 25px 0}


.blog-small article .post-content-wrap {
margin:0 !important;
}
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/news/news-sections/bitrix/news.list/.default/style.css?1445340066220 */
