

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/style.css?144534006661*/
.sel {
position: absolute;
right: 0;
top: 14px;
z-index: 1;
}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/bitrix/catalog.section.list/.default/style.css?1445340066285*/
.portfolio-item {
	margin-bottom: 30px;
}
.bx_catalog_tile_ul, .bx_catalog_line_ul {
	padding: 0;
	list-style: none;
}

div.carousel-controls.pull-right {
	position: absolute;
	right: 0;
	top: 0;
}

.clients-title h4 a{
	color: inherit;
}
.portfolio-item-title p a {
font-size: 11px;
}
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/style.css?144534006661 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/bitrix/catalog.section.list/.default/style.css?1445340066285 */
