

/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/style.css?144534006661*/
.sel {
position: absolute;
right: 0;
top: 14px;
z-index: 1;
}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/bitrix/catalog.section.list/.default/style.css?1445340066285*/
.portfolio-item {
	margin-bottom: 30px;
}
.bx_catalog_tile_ul, .bx_catalog_line_ul {
	padding: 0;
	list-style: none;
}

div.carousel-controls.pull-right {
	position: absolute;
	right: 0;
	top: 0;
}

.clients-title h4 a{
	color: inherit;
}
.portfolio-item-title p a {
font-size: 11px;
}
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744*/
div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/bitrix/catalog.section/.default/style.css?1445340066314*/
.portfolio-item-title p a {
	font-size: 11px;
}

ul.isotope-filter {
	margin-bottom: 30px !important;
	padding-top: 0px !important; 
	padding-bottom: 0px !important; 
	border-bottom: none !important; 
	border-top: none !important;
}

#options li.active a,#options li.active a:hover{
	transition:none !important; 
}
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/style.css?144534006661 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/bitrix/catalog.section.list/.default/style.css?1445340066285 */
/* /bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog/project/bitrix/catalog.section/.default/style.css?1445340066314 */
