

/* Start:/bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744*/
div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
/* End */


/* Start:/bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.section/team/style.css?14453400663598*/
.team-list {
    font-size: 0;
    margin: 0 -20px;
}

.team-member {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.team-member-holder {
    position: relative;
    overflow: hidden;
}

.team-member-image {
    display: block;
    float: left;
    width: 180px;
    line-height: 0;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.team-member-meta {
    padding-left: 40px;
    margin-left: 180px;
    min-height: 180px;
    position: relative;
}

.team-member-name {
    margin-bottom: 10px;
}

.team-member-role {
    font-size: 13px;
    margin-bottom: 10px;
}

.team-member-description {
}

.team-member-description p {
    margin: 0;
}

.team-member-links {
    position: absolute;
    top: -100%;
    right: 0;
    font-size: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 180px;
    z-index: 10;
}

.team-member-links:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.team-member-links-list {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.team-member-links-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    margin: 5px;
    text-decoration: none;
}

.team-member-h:hover .team-member-links {
    top: 0;
}

.team-member.type_half {
    width: 49.99%;
}

.team-member.type_half .team-member-image {
    width: 150px;
}

.team-member.type_half .team-member-meta {
    padding-left: 30px;
    margin-left: 150px;
    min-height: 150px;
}

.team-member.type_half .team-member-links {
    min-height: 150px;
}

.team-member.type_half .team-member-links:after {
    top: 75px;
}

.team-member.type_small {
    width: 16.66%;
}

.team-member.type_small .team-member-image {
    float: none;
    width: 100%;
}

.team-member.type_small .team-member-meta {
    padding-left: 0;
    margin-left: 0;
    padding-top: 10px;
    min-height: 0;
}

.team-member.type_small .team-member-links,.team-member.type_small .team-member-description {
    display: none;
}

@media (max-width:1023px) {
    .team-member.type_half .team-member-image {
        width: 120px;
    }

    .team-member.type_half .team-member-meta {
        padding-left: 30px;
        margin-left: 120px;
        min-height: 120px;
    }

    .team-member.type_half .team-member-links {
        min-height: 120px;
    }

    .team-member.type_half .team-member-links:after {
        top: 60px;
    };
}

@media (min-width:480px) and (max-width:767px) {
    .team-member.type_main .team-member-image {
        width: 150px;
    }

    .team-member.type_main .team-member-meta {
        padding-left: 30px;
        margin-left: 150px;
        min-height: 150px;
    }

    .team-member.type_main .team-member-links {
        min-height: 150px;
    }

    .team-member.type_main .team-member-links:after {
        top: 75px;
    }

    .team-member.type_small {
        width: 24.99%;
    }

    .team-member.type_half {
        width: 100%;
    };
}

@media (max-width:479px) {
    .team-member,.team-member.type_half,.team-member.type_small {
        width: 100%;
    }

    .team-member-image,.team-member.type_half .team-member-image {
        float: none;
        width: 100%;
        z-index: 11;
    }

    .team-member-meta,.team-member.type_half .team-member-meta {
        padding-left: 0;
        margin-left: 0;
        padding-top: 10px;
    }

    .team-member-links-list,.team-member.type_half .team-member-links-list {
        margin-left: 0;
    };
}
/* End */
/* /bitrix/templates/apsel_services_plus_teal/components//bitrix/system.pagenavigation/modern/style.css?1445340066744 */
/* /bitrix/templates/apsel_services_plus_teal/components/bitrix/catalog.section/team/style.css?14453400663598 */
